/* container */
.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* header */
header {
    max-width: inherit; 
    width: inherit;
    display: flex;
    padding: 32px 80px;
    align-items: center;
    background: #372D23;
}

.li {
    display: inline-block;
}

nav {
    margin: 52px 333px;
    width: 501px;
    height: 32px;
    gap: 48px;
}

.li1 {
    color: #ED6C30;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
}

.li2 {
    color: #B89278;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
    margin-inline: 48px;
}

.li3 {
    color: #B89278;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
    margin-right: 48px;
}

.li4 {
    color: #B89278;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
}

.logo1 {
    width: 72px;
    height: 72px;
}

.logo2 {
    width: 40px;
    height: 40px;
}

/* section1 */
.section1 {
    width: 1440px;
    height: 640px;  
    position: relative;
}

.photo1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.p1 {
    position: absolute;
    color: #FFF;
    text-shadow: 0px 6px 4px #372D23;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    top: 250px;
    left: 379px;
}

.p2{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
position: absolute;
top: 338px;
left: 379px;
border: 3px solid #FCC21B;
box-shadow: 0px 4px 4px 0px #372D23;
padding: 12px 38px;
}

